<div class="container no-padding">
  <div class="section no-padding">
    <div class="logo">
      <img src="/assets/brand.png">
    </div>
  </div>

  <div class="section">
    <span class="subtitle">
      <h4>Lantern is a game created during Kansas State University's 2018 Game Jam</h4>
    </span>
  </div>

  <div class="section">
    <h2>The "Team Lantern" Team</h2>
    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/lantern_profile.png">
          </div>
          <span class="profilename">
            <h4>Ryan Kruse</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Developer
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/helmet_profile.png">
          </div>
          <span class="profilename">
            <h4>Matthew Weis</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Developer
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/oil_profile.png">
          </div>
          <span class="profilename">
            <h4>Eriq Garcia</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Artwork, Game Mechanics and Design
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/bat_profile.png">
          </div>
          <span class="profilename">
            <h4>Alex Wakim</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Music
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/platform_profile.png">
          </div>
          <span class="profilename">
            <h4>Jack Tideman</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              University of Missouri
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Sound Effects, Game Mechanics and Design
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/duck_profile.png">
          </div>
          <span class="profilename">
            <h4>David Goodwin</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Play Tester, Game Mechanics and Design
          </p>
        </span>
      </span>
    </div>
  </div>
</div>