<div class="container no-padding">
  <div class="section no-padding">
    <div class="logo mx-auto">
      <img class="logo" src="assets/Lantern_Logo.png">
    </div>
  </div>

  <div class="section">
    <span class="subtitle">
      <h4>Lantern is a game created during Kansas State University's 2018 Game Jam.
        <br>Development continued as 2018 senior CIS project
      </h4>
    </span>
  </div>

  <div class="section">
    <h2>The Team</h2>
    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/atlas_profile.gif">
          </div>
          <span class="profilename">
            <h4>Ryan Kruse (@Atlas)</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
              <br>"The code may be dirty...but it feels so good"
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Developer
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/helmet_profile.png">
          </div>
          <span class="profilename">
            <h4>Matthew Weis (@Ignice)</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
              <br>"Only premature when it comes to optimization"
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Developer
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/hawk_profile.gif">
          </div>
          <span class="profilename">
            <h4>Eriq Garcia (@Hawkdaddy)</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
              <br>"It looks really good, but can you change this?"
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Artwork, Game Mechanics and Design
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/cream_profile.gif">
          </div>
          <span class="profilename">
            <h4>Alex Wakim (@OrangeKream)</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
              <br>"Limitations are my greatest liberators"
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Music
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/ham_profile.gif">
          </div>
          <span class="profilename">
            <h4>Jack Tideman (@TheLivingCheeseburger)</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              University of Missouri
              <br>"What's wrong with .m4a?"
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Sound Effects, Game Mechanics and Design
          </p>
        </span>
      </span>
    </div>

    <div class="shadowblock">
      <span class="row">

        <span class="col-md-6">
          <div class="profilepic">
            <img src="assets/profile_pic/duck_profile.gif">
          </div>
          <span class="profilename">
            <h4>David Goodwin (@QuakyDuck)</h4>
          </span>
          <span class="school">
            <p>
              <b>School:</b>
              Kansas State University
              <br>"Yeahhhh...you could probably make ___ better"
            </p>
          </span>
        </span>

        <span class="col-md-6 description">
          <p>
            Play Tester, Game Mechanics and Design
          </p>
        </span>
      </span>
    </div>
  </div>
</div>