<div class="section">
  <h2>Lantern</h2>
  <span class="subtitle">
    <h4>Lantern is a game created during Kansas State University's 2018 Game Jam.
      <br>Development continued as 2018 senior CIS project
      <br>
      <br>
      <B>*NOTE:</B>The homepage will be changed...this is a placeholder
      <br>
      <br>
      <a href="https://github.com/rpkruse/Lantern/releases/download/v3.0/Lantern.zip">Download Now!</a>
    </h4>
  </span>
</div>

<!--<div class="section">
  <h2>Screenshots</h2>
  <div class="shadowblock">
    <div class="gallery">
      <span class="gallery-row">
          <img src="assets/screen_shots/SS_1.png">
          <img src="assets/screen_shots/SS_2.png">
      </span>
      <span class="gallery-row">
          <img src="assets/screen_shots/SS_3.png">
          <img src="assets/screen_shots/SS_4.png">
      </span>
    </div>
  </div>
</div>-->

<div class="section">
  <h2>Features</h2>

  <!--Random Level-->
  <div class="shadowblock">
    <span class="row">
      <span class="col-md-7">
        <span class="profilename">
          <h2>An everchanging level</h2>
        </span>
        <span class="school">
          <p>
            Every journy holds a different layout.
          </p>
        </span>
      </span>

      <span class="col-md-5 description">
        <div class="profilepic">
          <img src="assets/gifs/random_level.gif">
        </div>
      </span>
    </span>
  </div>

  <!--Power ups-->
  <div class="shadowblock">
    <span class="row">
      <span class="col-md-7">
        <span class="profilename">
          <h2>Collect powerups</h2>
        </span>
        <span class="school">
          <p>
            Collect powerups to help you on your ascent. Grab lanterns to help light your way or different helments to boost your travel!
          </p>
        </span>
      </span>

      <span class="col-md-5 description">
        <div class="profilepic">
          <img src="assets/gifs/power_up.gif">
        </div>
      </span>
    </span>
  </div>

  <!--Swinging-->
  <div class="shadowblock">
    <span class="row">
      <span class="col-md-7">
        <span class="profilename">
          <h2>Climb through a treacherous mining cave</h2>
        </span>
        <span class="school">
          <p>
            Swing from platform to platform, dodging numerous hazards
          </p>
        </span>
      </span>

      <span class="col-md-5 description">
        <div class="profilepic">
          <img src="assets/gifs/level_climb.gif">
        </div>
      </span>
    </span>
  </div>
</div>