.gallery-row img:hover{
    transform: scale(1,1);
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.gallery-row img{
    margin: 1em 1em 1em 1em;
    max-width: 70%;
    transition: all .2s ease-in-out;
}

@media (min-width: 700px){
    .gallery-row img{
        max-width: 30%;
    }
}